# Ignore node_modules directory for frontend
client/node_modules

# Ignore node_modules directory for backend
web-backend/node_modules

client/.pnp
client/.pnp.js
# .env

# testing
client/coverage

# production
client/build

# misc
client/.DS_Store
client/.env.local
client.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
client/.env


web-backend/.pnp
web-backend/.pnp.js
# .env

# testing
web-backend/coverage

# production
web-backend/build

# misc
web-backend/.DS_Store
web-backend/.env.local
web-backend/.env.development.local
web-backend/.env.test.local
web-backend.env.production.local

web-backend/npm-debug.log*
web-backend/yarn-debug.log*
web-backend/yarn-error.log*
web-backend/.env
